@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
  background-color: rgb(230, 230, 230);
}

.h3 {
  font-family: "Titillium Web", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.slide {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.slide.current {
  opacity: 1;
}

.next {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 2em;
}
